<!-- <p>header works!</p> -->
<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Shreya Maurya</h1>
        <h3>Software Developer</h3>
    </div>
   <div style="position:absolute; bottom:5px; right:10px">
    <a href="https://www.linkedin.com/in/shreya-maurya-217607204/" class="">
        <img src="../../assets/linkedin.png" width="24" height="24" class="rounded-circle me-2">
    </a>

    <a href="https://github.com/ShreyaMaurya03" class="">
        <img src="../../assets/github.png" width="28" height="24" class="rounded-circle me-2">
    </a>
   </div>
</div>