<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>I can be reached at the following email:<span style="font-weight: bold;">simranknp1&#64;gmail.com</span>
        </p>
        <p>Feel free to connect with me on any of the followingplatforms: </p>  
    </div>
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/shreya-maurya-217607204/" class="list-group-item list-group-action d-flex gap-3 py-3">
        <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0">Linkedin</h3>
    </a>

    <a href="https://github.com/ShreyaMaurya03" class="list-group-item list-group-action d-flex gap-3 py-3">
        <img src="../../assets/github.png" width="35" height="32" class="rounded-circle flex-shrink-0 me-5">
        <h3 class="mb-0">Github</h3>
    </a>
    </div>
</div>
